.filter
  %a.btn1{ filter: "programing", href: "#"} プログラミング
  %a.btn1{ filter: "business", href: "#"} ビジネス
  %a.btn1{ filter: "design", href: "#"} デザイン
  %a.btn1{ filter: "sport", href: "#"} スポーツ
  %a.btn1{ filter: "another", href: "#"} その他

.category
  %a.btn2{ category: "programing", href: "#", value: 'バックエンド'} バックエンド
  %a.btn2{ category: "programing", href: "#", value: 'フロントエンド'} フロントエンド
  %a.btn2{ category: "programing", href: "#", value: 'インフラ'} インフラ
  %a.btn2{ category: "programing", href: "#", value: '機械学習'} 機械学習
  %a.btn2{ category: "programing", href: "#", value: 'ブロックチェーン'} ブロックチェーン

  %a.btn2{ category: "business", href: "#", value: '簿記・会計'} 簿記・会計
  %a.btn2{ category: "business", href: "#", value: 'マーケティング'} マーケティング
  %a.btn2{ category: "business", href: "#", value: 'マネジメント'} マネジメント
  %a.btn2{ category: "business", href: "#", value: 'デザイン思考'} デザイン思考
  %a.btn2{ category: "business", href: "#", value: 'English'} English

  %a.btn2{ category: "design", href: "#", value: 'インダストリアルデザイン'} インダストリアルデザイン
  %a.btn2{ category: "design", href: "#", value: 'UI・UXデザイン'} UI・UXデザイン

  %a.btn2{ category: "sport", href: "#", value: 'スノーボード'} スノーボード
  %a.btn2{ category: "sport", href: "#", value: 'フットサル'} フットサル
  %a.btn2{ category: "sport", href: "#", value: '筋トレ'} 筋トレ

  %a.btn2{ category: "another", href: "#", value: '哲学'} 哲学
  %a.btn2{ category: "another", href: "#", value: 'ライフハック'} ライフハック
  %a.btn2{ category: "another", href: "#", value: '経済'} 経済
  %a.btn2{ category: "another", href: "#", value: '心理学'} 心理学
  %a.btn2{ category: "another", href: "#", value: 'Money'} Money
  %a.btn2{ category: "another", href: "#", value: 'マインドセット'} マインドセット
