.contribution
  .header
    .header__left
      Category : インフラ
    .header__right
      %ul
        %li.header__right_item
        2018.12.05
        %li.header__right_item
        ニックネーム
  .body
    .card
      .card__image
        %img{alt: "", src: "https://i.ytimg.com/vi/7mwoTs0LoYA/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLCFkY0fgDqeVwgQm3pYEkul6m9ujw", width: "320", height: "180"}
      .card__content
        .card__content_order
          ①
        .card__content_info
          .card__content_info_title
            Docker超入門 Part01 - Dockerを使った開発環境構築
          .card__content_info_detail
            %p プラスウイングTV
            %p 254 回視聴

    .card
      .card__image
        %img#img.style-scope.yt-img-shadow{alt: "", src: "https://i.ytimg.com/vi/xXiU-bjRg1Q/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLDK1gvPg7IjFPSl1Yn5PO32ZwVxZQ", width: "320", height: "180"}
      .card__content
        .card__content_order
          ②
        .card__content_info
          .card__content_info_title
            今さら聞けない人のためのDocker超入門
          .card__content_info_detail
            %p 旭山銀次郎
            %p 3199 回視聴
      .card__title

    .card
      .card__image
        %img#img.style-scope.yt-img-shadow{alt: "", src: "https://i.ytimg.com/vi/5d8O7jm7Q5c/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLA9mFBHgChaCVT3WzKkNgmmu1EXpw", width: "320", height: "180"}
      .card__content
        .card__content_order
          ③
        .card__content_info
          .card__content_info_title
            創好リナのDocker入門講座
          .card__content_info_detail
            %p 創好リナ
            %p 1459 回視聴
  .footer
    コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントvコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント
