.post
  #question カテゴリーを以下から選択してください
  = render partial: 'category'
  .form_research
    %input#category_name

  / .card
  /   .card__image
  /     = link_to 'https://www.youtube.com/watch?v=0XiSxEsKD-U&t=1875s', target: "_blank" do
  /       %img{src: "https://i.ytimg.com/vi/0XiSxEsKD-U&t=1875s/default.jpg", width: "320", height: "180"}
  /   .card__content
  /     .card__content_order
  /     .card__content_info
  /       .card__content_info_title
  /         = @title
  /       .card__content_info_detail
  /         = @author
  /       %p
  /         = @view
  /         回視聴




