.post {
    text-align: center;
    margin: 20px 50px 0px;
    #question {
        font-weight: bold;
        display: block;
        margin: 20px 0;
    }
    .category {
        margin: 10px 0;
    }
    .form {
        margin: 10px 0 70px;
        #category_name{
            text-align: center;
            height: 32px;
            width: 200px;
            margin-bottom: 20px;
        }
        #first_url_name {
            margin-bottom: 20px;
            height: 32px;
            padding: 0 10px;
            width: calc(100% - 166px);
        }
        #second_name {
            display: none;
        }
        #second_url_name {
            margin-bottom: 20px;
            height: 32px;
            padding: 0 10px;
            width: calc(100% - 166px);
            display: none;
        }
        #third_name {
            display: none;
        }
        #third_url_name {
            margin-bottom: 20px;
            height: 32px;
            padding: 0 10px;
            width: calc(100% - 166px);
            display: none;
        }
        .submit {
            height: 40px;
            background-color: $blue-grey;
            color: white;
            font-size: 16px;
            padding: 0 30px;
        }
    }
}
