.post {
    text-align: center;
    margin: 20px 50px 0px;
    p {
        font-weight: bold;
    }
    .classification {
        margin: 10px 0;
    }
    .category {
        margin: 10px 0;
    }
    .chooseCategory {
        margin: 10px 0 70px;
        display: inline-block;
        #in1{
            text-align: center;
        }
    }

    &__url {
        margin-top: 20px;
        &_form {
            margin-bottom: 20px;
            height: 32px;
            padding: 0 10px;
            width: calc(100% - 166px);
            display: inline-block;
        }
    .submit {
        height: 40px;
        background-color: $blue-grey;
        color: white;
        font-size: 16px;
        border: none;
        padding: 0 30px;
        }
    }
}
