.nav
  .nav__brand-logo
  = link_to 'YoutubeDiggers', '#', class: 'nav__brand-logo'
  .nav__right
    %ul
      %li.nav__right_item
        = link_to '投稿する', '#', class: 'nav__right_post'
      %li.nav__right_item
        = link_to 'マイページ', '#', class: 'nav__right_mypage'
      %li.nav__right_item
        = link_to 'ログアウト', '#', class: 'nav__right_logout'
